div{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border: 4px solid grey;
    margin: 20px;
}

#div1{
    position: static;
}

#div2{
    position: relative;
    top: 20px;
    left: 90px;
}

#div3{
    position: fixed;
    top: 20px;
    left: 90px;

}

#div4{
    position: absolute;
    top: 200px;
    left: 200px;
}