.box{
    width: 200px;
    height: 200px;
    background-color: chocolate;
    padding: 20px;
}

@media  screen and (max-width: 400px)  and (min-width:250px) {

    .box{
        background-color: cornflowerblue;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        
    }
    
}