.box{
    height: 100px;
    width: 100px;
    /* background-color: darkorange; */
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    top: 30px;
    left: 200px;
    position: relative;

     transition-property: all; 
    transition-timing-function: ease-in-out;
    
    /* transition-delay: 1s;k */
    transition-duration: 1s;
}



#box1:hover{
    transform: translate(30px);
    background-color: aqua;
}

#box2:hover{
    transform: translate(20px, 38px);
    background-color: crimson;
}

#box3:hover{
    transform: translateX(50px);
    background-color: darksalmon;
}

#box4:hover{
    transform: translateY(40px);
    background-color: cornflowerblue;
}